@import url('fonts.css');

:root{
    --color: #FFA559;
    --color1: #000000;
    --color2 : #FFFFFF;
    --color3 : #2D53E5;
    --color4: #F7E025;
    --color5: #7D12F8;
    --color6: #F50C5D;

    /* Color para los fondos */
    --color01: #161a1d;
    --color02 : #e9ecef;

    /* Color para las letras */
    --colorA : #FFFFFF;
    --colorB: #000000;
    --colorC: #888B8E;

}

@import url('fonts.css');

:root{
    --color: #904212;
    --color1: #000000;
    --color2 : #FFFFFF;
    --color3 : #161E55;
    --color4: #EFB810;
    --color5: #7D12F8;
    --color6: #CB0001;
    --color7: #552A69;
    --color8: #343A40;
    --COLOR9: #6C0817;
    --color10: #1076C5;

    /* Color para los fondos */
    --color01: #161a1d;
    --color02 : #e9ecef;

    /* Color para las letras */
    --colorA : #FFFFFF;
    --colorB: #000000;
    --colorC: #888B8E;

}

body {
    font-family: 'Nunito', sans-serif !important;
    display: flex;
    height: 100vh;
}

.left {
    background-image: linear-gradient(var(--color02), var(--colorC));
    color: white;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 100px;
    height: auto;
}

.right {
    background-image: linear-gradient(var(--color01), var(--color1));
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.right h1 {
    color: var(--colorA);
    font-size: 35px;
    margin-bottom: 20px;
}

input {
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 5px;
    font-size: 15px;
}

.row{
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--color02);
    border: none;
    border-radius: 10px;
    width: 450px;
}

.card-title {
    font-weight: 700;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


/* ---------------------------------- Responsive */

@media (min-width: 1441px) and (max-width: 2560px) {
    
    .card{
        width: 900px;
        height: 650px;
    }

    .icono-grande {
        font-size: 130px;
    }

    .card-title {
        font-size: 65px;
        padding-bottom: 10px;
    }
    
    .card-text {
        font-size: 35px;
        padding-bottom: 40px;
    }
    
    .btn-primary {
        font-size: 35px;
    }

}

@media (max-width: 1301px) and (max-width: 1440px){

    .icono-grande {
        font-size: 60px;
    }

}

@media (max-width: 550px) {

    .card{
        width: 350px;
        height: 270px;
    }

    .icono-grande {
        font-size: 50px;
    }

    .card-title {
        font-size: 20px;
    }
    
    .card-text {
        font-size: 12px;
    }

    .btn-primary {
        font-size: 10px;
    }
    
}